.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"] {
    color: black;
    width: 100%;
    box-sizing: border-box;
    height: 2.5rem;
    margin-bottom: .8rem;
    border-color: black;
}

.form-login button[type="submit"] {
    font-weight: bold;
    font-size: 1rem;
    background-color: black;
    color: white;
    width: 100%;
    height: 3rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.form-login>* {
    margin-bottom: 1.2rem;
}

.form-login>*:last-child {
    margin-bottom: 0;
}

.email-error {
    color: #d32f2f;
    font-size: 0.95rem;
    margin-top: -0.7rem;
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 0.3s, transform 0.3s;
}

.email-error-active {
    opacity: 1;
    transform: translateY(0);
}

.email-success {
    color: #388e3c;
    font-size: 0.95rem;
    margin-top: -0.7rem;
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 0.3s, transform 0.3s;
}

.email-success.email-error-active {
    opacity: 1;
    transform: translateY(0);
}

#flecha-volver {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 11.5rem;
    left: 2rem;
}